body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fundo preto */
    color: #fff; /* Cor do texto branca */
}

.logo {
    text-align: center;
    padding: 20px;
}

.logo img {
    width: 200px; /* Ajuste o tamanho da logo */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #000;
    padding: 20px;
    border: 1px solid #ff0000;
    box-shadow: inset 0px 0px 20px 0px rgb(255 0 0);
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 10px;
}

a {
    text-decoration: none;
    color: #fff; /* Cor do link branca */
}

a img {
    width: 200px; /* Ajuste o tamanho da imagem */
    height: 150px; /* Ajuste o tamanho da imagem */
    object-fit: cover;
    border-radius: 10px;
}

a span {
    display: block;
    text-align: center;
    margin-top: 10px;
}

small {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #7cf249;
}


a:hover {
    color: #ccc; /* Cor do link ao passar o mouse */
}

a:hover img {
    opacity: 0.8;
}

/* Estilo do Botão do WhatsApp */
.btn-whatsapp {
    display: inline-block;
    background-color: #FF1216; /* Verde oficial do WhatsApp */
    color: #ffffff !important;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 15px 0 25px 0;
    box-shadow: 0px 4px 10px rgba(225, 18, 22, 0.4);
    transition: all 0.3s ease;
}

.btn-whatsapp:hover {
    background-color: #A80C0F; /* Verde mais escuro ao passar o mouse */
    transform: scale(1.05); /* Pequeno efeito de aumento */
    opacity: 1; /* Previne a opacidade configurada no "a:hover" geral */
}



